.calculator {
  padding: 30px 20px 40px 20px;
  margin-top: 10rem;
  border: 3px solid;
  border-radius: 5px;
  background-color: #8d989d;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.calculator h3 {
  margin: 0;
}

.body-calculator {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
}

.input-container {
  display: flex;
  width: 70%;
}

input {
  margin-right: 1rem;
  width: 100%;
  padding: 6px;
  border: 3px solid black;
  border-radius: 5px;
  background-color: #a7c4bc;
  font-weight: 700;
}

input:focus {
  outline: none;
}

.buttons {
  display: flex;
}

button {
  width: 6rem;
  margin-right: 10px;
  cursor: pointer;
  font-weight: 700;
}

.clear {
  border: 3px solid black;
  border-radius: 5px;
  background-color: #ffc074;
}

.clear:hover {
  background-color: #fab562;
}

.clear:active {
  border: 3px solid #d59c56;
}

.compute {
  margin-right: 0;
  border: 3px solid black;
  border-radius: 5px;
  background-color: #b6c867;
}

.compute:hover {
  background-color: #a0b155;
}

.compute:active {
  border: 3px solid #829044;
}
